* {
    margin: auto;
    max-width: 800px;
}
body{
    background-color: #3E3428;
}
header {
    background-color: #3E3428;
    padding: 16px;
    text-align: center;
}
header > h1 {
    color: #FBFEF3;
    font-style: bold;
    font-size: 48px;
}
header > p {
    text-align: end;
    font-size: 10pt;
    padding-top: 8px;
    color: whitesmoke;
    font-style: oblique;
}
#img-div {
    background-color: #393A3A;
    margin: auto;
    padding: 16px 0px 16px 0px;
    text-align: center;
}
figcaption {
    color: #FBFEF3;
    font-style: italic;
    font-size: 10pt;
    max-width: 600px;
}