* {
    margin: auto;
    max-width: 800px;
}
main {
    background-color: #3E3428;
}
body{
    background-color: #1A1B1B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: #3E3428;
    padding: 16px;
    text-align: center;
}
header > h1 {
    color: #FBFEF3;
    font-style: bold;
    font-size: 48px;
}
header > p {
    text-align: end;
    font-size: 10pt;
    padding-top: 8px;
    color: whitesmoke;
    font-style: oblique;
}
#img-div {
    background-color: #FBFEF3;
    margin: auto;
    padding: 16px;
    text-align: center;
    max-width: 370px;
}
figcaption {
    color: #393A3A;
    font-style: italic;
    font-size: 10pt;
    max-width: 370px;
}
#tribute-info {
    color: #FBFEF3;
    max-width: 480px;
    padding-bottom: 32px;
}
li {
    padding: 16px;
}
#here-is {
    text-align: center;
    padding-top: 16px;
}
a {
    color: #3275c3;
}
a:active {
    color: #969696;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}
#quotes > p {
    padding: 8px 0px 16px 0px;
    text-align: center;
}